.cbox {
    background-color: palegreen;
    border: red 0.4rem solid;
}
.c1 {
    background-color: royalblue;
    border: silver 0.2rem solid;
}
.c2 {
    background-color: snow;
    border: solid 0.2rem yellow;
}
.c3 {
    background-color: tomato;
    border: violet 0.2rem solid;
}
.c4 {
    background-color: yellow;
    border: white 0.2rem solid;
}
.c5 {
    background-color: black;
    color: white;
    border: tomato 0.2rem solid;
}
.c6 {
    background-color: yellow;
    border: violet 0.2rem solid;
}